html{
    font-family: 'Montserrat', sans-serif;
}

body{
    margin: 0;
    background-color: #f2f2f2;
    color: #0a0c0d;
}

a {
    text-decoration: none;
    color: #fff;
}

header{
    background-color: #1c5052;
    color: #fff;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#bio{
    float: left;
    margin-right: 20%;
}

#kinal{
    float: right;
    margin-left: 20%;
}

section article{
    display: flex;
    align-items: center;
    justify-content: center;    
}

.container{
    transition: box-shadow 0.3s ease;
    background-color: #fff;
    margin: 1rem 0;
    border-radius: 0.5rem;
    padding: 0.25rem 0;
    cursor: pointer;
    width: 50rem;
    height: auto;
    margin: 1rem;
}

.container:hover{
    box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,30%);

}

.container h3, .container p {
    margin: 1rem;
}

img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}