html{
    font-family: 'Montserrat', sans-serif;

}

body{
    margin: 0;
    background-color: #e9e9e9;
    color: #0a0c0d;
    overflow-x: hidden;
    box-sizing: border-box;
    animation: colorloop 20s linear infinite;
}

@keyframes colorloop{
    0%{
        background-color: /*#26fa9a*/#020202;
    }
    25%{
        background-color: /*#fcee67*/#493d3f;
    }
    50%{
        background-color: /*#ff4081*/#bdb495;
    }
    75%{
        background-color: /*#18ffff*/#f8f2ce;
    }
    100%{
        background-color: /*#2afa9a*/#d8d989;
    }
}

a {
    text-decoration: none;
    color: #000;
}

header{
    background-color: #fff;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    z-index: 999;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

header h1{
    margin: 2rem;
    font-size: 1.5rem;
}

.title{
    background-color: #fff;
    display: inline;
    color: #fff;
    border-radius: .5rem;
    width: 20rem;
    height:  7rem;
    max-width: 800px;
    margin: 0px auto;
    text-align: center;
    bottom: -15rem;
}

@keyframes anim{
    0% {color: #ff0;} /*Amarillo*/
   25% {color: #f80;} /*Naranja*/
   50% {color: #000;} /*Negro*/
   75% {color: #f80;} /*Otra vez naranja*/
  100% {color: #ff0;} /*Otra vez amarillo*/
}

.title h1{
    text-align: center;
    margin: 0 auto;
    padding: 1rem;
    animation-name: anim;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

section article{
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 2100px;
    height: 450px;
    flex-wrap: wrap;
    margin: auto;
}

.container{
    width: 400px;
    height: auto;
    overflow: hidden;
    text-align: center;
    margin: 20px;
    transition: box-shadow 0.3s ease;
    position: relative;
    background-color: #fff;
    border-radius: 0.5rem;
    padding: 0.25rem 0;
    cursor: pointer;
    transition: .5s ease all;
}

.container:hover{
    box-shadow: 0 0.4rem 0.5rem rgba(0,0,0,0.5);
    
}

.container h3, .container p {
    margin: 1rem;
}

img {
    object-fit: cover;
    width: 100%;
    height: 50%;
}

#gustosMusicales{
    display: block;
}

footer{
    background-color: #b8c7cc;
    display: flex;
    position: relative;
    top: 70rem;
    width: 100%;
    height: 40px;
}